.wrapper {
 --search-height: 46px;
 --search-width: 316px;
 --searchBtn-width: 52px;

 width: 100%;
 height: var(--default-layout-header-height);
 box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
 display: flex;
 justify-content: center;
}

.inner {
 height: 100%;
 width: var(--default-layout-width);
 display: flex;
 align-items: center;
 justify-content: space-between;

 .search {
  width: var(--search-width);
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1.5px solid transparent;

  &::after {
   content: '';
   position: absolute;
   width: 1px;
   height: calc(var(--search-height) - 18px);
   right: var(--searchBtn-width);
   background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
   border-color: rgba(22, 24, 35, 0.2);
  }

  input {
   flex: 1;
   height: 100%;
   font-size: 1.6rem;
   color: var(--black);
   font-weight: 400;
   border: none;
   outline: none;
   background-color: transparent;
   caret-color: var(--primary);

   &:not(:placeholder-shown) ~ .searchBtn {
    color: rgba(22, 24, 35, 0.75);
   }
  }

  .clear,
  .loading {
   position: absolute;
   right: calc(var(--searchBtn-width) + 12px);
   color: rgba(22, 24, 35, 0.34);
  }

  .clear {
  }

  .loading {
  }

  .searchBtn {
   width: var(--searchBtn-width);
   height: 100%;
   border-top-right-radius: 92px;
   border-bottom-right-radius: 92px;
   font-size: 1.8rem;
   color: rgba(22, 24, 35, 0.34);

   &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
   }

   &:active {
    background-color: rgba(22, 24, 35, 0.06);
   }
  }
 }

 .searchResult {
  width: var(--search-width);

  .searchTitle {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
  }
 }

 .actions {

  
 }
}
